  .btn-primary {
    border: 0;
    box-shadow: none;
    font-family: Arial, sans-serif;
    display: inline-block;
    padding: 0.6rem;
    text-decoration: none;
    background-color: #0058A3;
    color: #fff;
    font-weight: bold;
    border-radius: 0.3rem;
  }

  .btn-primary:hover {
    background-color: #00457C;
  }

  .btn-primary[disabled] {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
  }

  .btn-danger {
    border: 0;
    box-shadow: none;
    font-family: Arial, sans-serif;
    display: inline-block;
    padding: 0.6rem;
    text-decoration: none;
    background-color: #D9534F;
    color: #fff;
    font-weight: bold;
    border-radius: 0.3rem;
  }

  .btn-danger:hover {
    background-color: #C9302C;
  }

  .btn-margin {
    margin: 0.5rem;
  }